/ http://www.smashingmagazine.com/2007/07/12/time-savers-code-beautifier-and-formatter/
#top
	#links
		%ul
			%li
				%a{:href => "http://redcloth.org/textile/writing-paragraph-text/", :title => "Textile Examples", :rel => "textile", :target => "_blank"} Texile
			%li
				%a{:href => "http://haml-lang.com/docs/yardoc/file.HAML_REFERENCE.html", :title => "Haml Examples", :rel => "haml", :target => "_blank"} Haml
			%li
				%a{:href => "http://daringfireball.net/projects/markdown/syntax", :title => "Markdown Examples", :rel => "markdown", :target => "_blank"} Markdown
			%li
				%a{:href => "http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html", :title => "Sass Examples", :rel => "sass", :target => "_blank"} Sass
			%li
				%a{:href => "http://jsbeautifier.org/", :title => "Javascript Beautifier", :rel => "js-beautify", :target => "_blank"} JS Beautify
			%li
				%a{:href => "http://www.codebeautifier.com/", :title => "CSS Beautifier", :rel => "css-beautify", :target => "_blank"} CSS Beautify
			%li
				%a{:href => "http://quickhighlighter.com/", :title => "Syntax Highlighter", :rel => "syntax-highlight", :target => "_blank"} Syntax Highlight
	#tab
		%p i