#main_container
	#header
		%h1= c("metadata.title")
		%h2= c("metadata.description")
	%form#converter.invisible{:action => "/see", :method => :post}
		%textarea{:name => :input}
		%select#input_format{:name => "input_format"}
			%option{:value => "html"}
			%option{:value => "textile", :selected => "selected"}
			%option{:value => "haml"}
			%option{:value => "markdown"}
		%select#output_format{:name => "output_format"}
			%option{:value => "html", :selected => "selected"}
			%option{:value => "textile"}
			%option{:value => "haml"}
			%option{:value => "markdown"}
			%option{:value => "actual"}
		%input{:type => :submit, :name => "seesaw", :class => :button}
	#seesaw
	#seesaw_post
	#weights
		#left.weight
			#left_controls.controls
				%ul
					%li.control
						%a{:href => "", :title => "html"} Ht
					%li.control
						%a{:href => "", :title => "textile"} Tx
					%li.control
						%a{:href => "", :title => "haml"} Ha
					%li.control
						%a{:href => "", :title => "markdown"} Md
			.text_container
				%textarea.text#input_text
		#right.weight
			.text_container
				%textarea.text#output_text
			#right_controls.controls
				%ul
					%li.control
						%a{:href => "", :title => "html"} Ht
					%li.control
						%a{:href => "", :title => "textile"} Tx
					%li.control
						%a{:href => "", :title => "haml"} Ha
					%li.control
						%a{:href => "", :title => "markdown"} Md
	#footer
		%a{:href => c("links.website")} Viatropos @ 4D