/* http://preloaders.net/ */
@import url("reset.css");

html, body {
	width:100%;
	height:100%;
	background-color: #222222;
	position:relative;
	font-size: 20px;
}
* {
	font-family: Georgia;
}
textarea {
	font-size: 14px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
small {
	font-size:11px;
	color:#dabd1c;
}
a {
	text-decoration:none;
	color:#dabd1c;
}
a:hover {
	color:#FFF7C4;
}
h1, h1 a {
	padding:10px 0 10px 0;
	margin:0;
	clear:both;
	font-size:20px;
	color:#aaaaaa;
	font-weight:normal;
}
h2 {
	font-size:17px;
	color:#FFF7C4;
	font-weight:normal;
	opacity:0.4;
}
h3 {
	padding:10px 0 10px 0;
	margin:0;
	clear:both;
	font-size:18px;
	color:#FFFFFF;
	font-weight:normal;
}

/* main */
#main_container {
	position:absolute;
	height:100%;
	width:100%;
	min-height:680px;
}

div {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}
#background {
	min-height:680px;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	border:10px solid #101010;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

#seesaw {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color: #101010;
	width:90%;
	top:400px;
	height:30px;
}

#seesaw_post {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color: #101010;
	width:25px;
	top:400px;
	height:30px;
}
#weights {
	width:90%;
	position:relative;
	height:300px;
	margin:auto;
}
.weight {
	width:100%;
	height:100%;
}
#left {
	position:relative;
	width:45%;
	float:left;
}
#right {
	position:relative;
	float:right;
	width:45%;
}
.text_container {
	position:absolute;
	padding:10px;
	background-color: #101010;
	color: #aaaaaa;
	border: 1px solid black;
	width:92%;
	height:100%;
}
#left .text_container {
	left:20px;
}
#right .text_container {
	right:20px;
}
.text {
	height:100%;
	width:100%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
textarea {
	background-color: #101010;
	color: #aaaaaa;
	border: 1px solid black;
}
.invisible {
	display:none;
}

.controls {
	background-color: #101010;
	color: #aaaaaa;
	border: 1px solid black;
	position:absolute;
	width:10px;
	height:100%;
	z-index:10;
	font-size: 12px;
	text-align:center;
}
#left_controls {
	left:0px;
}
#right_controls {
	right:0px;
}
.controls ul {
	width:40px;
	margin-left:-7px;
}
.control {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
	background-color: #101010;
	width:24px;
	height:24px;
	position:relative;
	margin-bottom:5px;
}
.control a {
	position:relative;
	top:5px;
}
#header {
	position:relative;
	width:100%;
	text-align:center;
	margin-top:30px;
}
#header h1 {
	font-size:30px;
}
#footer {
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-50px;
	padding:10px;
	font-size: 10px;
	width:70px;
}
#footer a.name {
	position:relative;
	left:5px;
	clear:both;
}
#footer ul {
	position:relative;
	left:5px;
	margin:auto;
}
#footer .control {
	float:left;
	margin: 5px;
}
#footer .control a {
	position:relative;
	left:5px;
	top:5px;
}
#easyTooltip{
	padding:5px;
	border:1px solid black;
	color: #dabd1c;
	background:#101010;
	padding:10px;
}
#ie_warning {
	position:fixed;
	margin-left:25%;
	width:50%;
	color:#dabd1c;
	padding:10px;
	background:#222222;
	border: 10px solid black;
	top:40%;
	opacity:0.8;
	text-align:center;
	line-height: 1.2;
}
#ie_warning a {
	color: #FFF7C4;
}
#top {
	clear:both;
	position:relative;
	margin:auto;
	width:550px;
	z-index:20;
}
#tab {
	position:relative;
	margin:-10px auto 0px auto;
	background: #101010;
	width:30px;
	height:35px;
	z-index:0;
	text-align:center;
}
#tab p {
	font-size: 10px;
	bottom:-20px;
	position:relative;
	color:#aaaaaa;
}

#links {
	background: #101010;
	position:relative;
	width:100%;
	height:40px;
	margin:auto;
	display:none;
	z-index:3;
}
#links ul {
	position:relative;
	height:100%;
	padding-top:10px;
	text-align:center;
	margin:auto;
}
#links ul li {
	position:relative;
	display:inline;
	font-size: 14px;
	padding-left:5px;
	padding-right:5px;
}