small {
font-size:11px;
color:#dabd1c;
}
small.featured {
font-size:11px;
color:#fff;
padding:0 5px 0 5px;
margin:0 0 0 4px;
background-color:#dabd1c;
}
a{
text-decoration:none;
color:#dabd1c;
}
a:hover{
color:#FFF7C4;
}
/*----------------------headers-p-a-style------------------------------*/
h1{
padding:10px 0 10px 0;
margin:0;
clear:both;
font-size:20px;
color:#aaaaaa;
font-weight:normal;
}
h2 {
font-size:17px;
color:#FFF7C4;
font-weight:normal;
opacity:0.4;
}

h3 {
padding:10px 0 10px 0;
margin:0;
clear:both;
font-size:18px;
color:#FFFFFF;
font-weight:normal;
}